* {
  box-sizing: border-box;
  Margin: 0;
  padding: 0;
    
}
/* Body scetion Starts */
body {
  background-color: #636e72;
}
/* Body scetion Ends */

/* Header style starts here */
.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 35px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #2d3436;
    
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.header h1 {
  font-size: 48px;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 1.55vw;
}

.header div {
  padding-top: 15;
  margin-right: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.header div ul {
  list-style-type: none;
}

.header div ul li {
  margin-left: 25px;

}
/* Header scetion Ends */

a {
  color: #ffffff;
  text-decoration: line;
}

p {
  font-size: 16px;
  position: auto;
}

/* Hero Image scetion */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero-bg.jpg");
  height: 600px;
  margin-bottom: 10px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
/* Hero Text section */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
/* Hero Image scetion Ends */



/* Here is the float-left class */
.float-left {
  float: left;
  margin-right: 25px;
}

/* Here is the float-right class */
.float-right {
  float: right;
  margin-left: 25px;
}


.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}
/* The Previrew  scetion starts */
.previews {
  margin-right: 10px;
  padding: 20px;
  clear: both;
  float: right;
  width: 21%;
  height: 100%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #2d3436;
}

/* Preview Properties */
.preview-1 {
  margin-bottom: 32px;
  color: #dfe6e9;
}

.preview-2 {
  margin-bottom: 10px;
  color: #dfe6e9;
}

.preview-3 {
  margin-bottom: 32px;
  color: #dfe6e9;
}

.preview-1 h3 {
  margin-bottom: 10px;
  text-align: center;
}

.preview-2 h3 {
  margin-bottom: 10px;
  text-align: center;
}

.preview-3 h3 {
  margin-bottom: 10px;
  text-align: center;
}

.preview-1 img {
  display: block;
  margin: 10px auto;
  max-width: 200px;
}

.preview-2 img {
  display: block;
  margin: 10px auto;
  max-width: 200px;
}

.preview-3 img {
  display: block;
  margin: 10px auto;
  max-width: 200px;
}

/* Portfolio scetion */
.portfolio {
  margin-bottom: 10px;
  padding: 50px;
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #2d3436;
  color: #dfe6e9;
}

/* Portfolio scetion */
.work {
  margin-bottom: 10px;
  padding: 50px;
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #2d3436;
  color: #dfe6e9;
}

/* Portfolio scetion */
.resume {
  margin-bottom: 10px;
  padding: 50px;
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #2d3436;
  color: #dfe6e9;
}

/* About me scetion */
.about-me {
  margin-bottom: 10px;
  padding: 50px;
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #2d3436;
  color: #dfe6e9;
}


/* Max Height defined for Placeholder images */
.search-engine-optimization img {
  max-height: 200px;
}

.online-reputation-management img {
  max-height: 200px;
}


.social-media-marketing img {
  max-height: 200px;
}
/* Max Height defined for Placeholder images End */

.portfolio h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.portfolio h3 {
  margin-bottom: 20px;
  font-size: 36px;
}

.work h2 {
  margin-bottom: 20px;
  font-size: 36px;
}


.resume h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* the footer codes start here */
.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
    background: #636e72;
    width: 100%;
    padding: 30px;
    clear: both;
    text-align: right;
}

.footer .social-networking {
  text-align: right;
  line-height: 2.5;
}


.footer h2 {
  color: #024e76;
  font-size: 20px;
  line-height: 2.5;
  margin: 0;
}

footer h2 p {
  color: #5b5b5b;
  text-align: left;
  line-height: 1.5;
}

.footer a {
    color: #dfe6e9;
    line-height: 2.5;
}

.footer h3  {
  color: #5b5b5b;
  text-align: left;
  line-height: 2.0;

}

.footer div {
    font-style: normal;
    line-height: 2.0;
    text-align: right;
}
/* Footer Ends here */

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}




  